body {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1, p, h5 {
  color: white;
}
p{
  margin: 1em auto;
  max-width: 65ch;
  line-height: 1.6;
  font-size: 1rem;
}